.formWrapper {
    margin-top: 136px;

    .form {
        flex: 1 1 480px;
        
        .fieldset {
            margin-bottom: 24px;            

            .inputWrapper {
                margin-bottom: 12px;
                
                &.last {
                    margin-bottom: 0;
                }
                
                .checkMark {
                    right: 10%;
                }
            }
        }

        .link {
            padding: 12px 61px;

        }

        .button {
            padding: 12px 61px;
        }
        
    }
}