.formWrapper {
    margin-top: 189px;

    .form {
        flex: 1 1 480px;
        
        .fieldset {
            margin-bottom: 24px;

            .inputWrapper {
                margin-bottom: 12px;
                
                &.last {
                    margin-bottom: 0;
                }   
                
                .checkMark {
                    right: 10%;
                }
            }
        }
        
        .buttons {

            .link {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}