.formWrapper {
    margin-top: 228px;

    .successTitle {
        margin: -50px 0 50px 0;
        font-size: 24px;
        text-align: center;
    }

    .form {
        flex: 1 1 562px;
        
        .fieldset {
            margin-bottom: 40px;

            .inputWrapper {
                margin-bottom: 0;
            }
        }
    }
}